body {
    margin: 0;
    padding: 0;
    font-family: Kanit, sans-serif ;
    background-color: #ffecb3;
}

.header {
    background-color: #ffb300;
    color: #422d28;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.header ul {
    display: flex;
    list-style: none;

}
.header a {
    text-decoration: none;
    color: #422d28;
    font-size: 1.65rem;
}
.header li {
    padding-left: 20px;
}

/* home page */

.photos-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photos-container-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    padding-top: 10px;
}

.photos-container img {
    width: 100%;
}